beautifulsoup4
fuzzywuzzy
jsonlines
matplotlib
markdown
openai
pandas
plotly
pydantic
pyecharts
python-dotenv
python_dateutil
Requests
selenium
snapshot_selenium
squarify
thefuzz
tqdm
webdriver_manager
wordcloud
